<div class="ml-breadcrumb">
    Electrónica auido y video > Bla bla bla bla bla bla
</div>
<div class="ml-container">
    <div class="ml-item-card clearfix">
        <img class="ml-item-picture" alt="Foto">
        <div class="d-flex flex-wrap">
            <div class="mr-auto ml-item-price">
                Valor
                <span class="ml-item-shipping"></span>
            </div>
            <div class="ml-item-location">Otro valor</div>
        </div>
        <div class="ml-item-description">
            BLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla
            blaBLa
            bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa
            bla
            blaBLa
        </div>
    </div>
</div>