<div class="ml-breadcrumb">
    Electrónica auido y video > Bla bla bla bla bla bla
</div>
<div class="ml-container">
    <div class="ml-item-card">
        <div>
            <img class="ml-item-picture" alt="Foto">
            <div class="ml-item-summary">
                <div class="ml-item-status">
                    Nuevo - ee vendidos
                </div>
                <div class="ml-item-name">
                    Valor
                </div>
                <div class="ml-item-price">
                    Otro valor
                </div>
                <div>
                    <button type="button" class="btn btn-primary ml-btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <div class="ml-item-description">
            BLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla
            blaBLa
            bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa bla blaBLa
            bla
            blaBLa
        </div>
    </div>
</div>