<app-breadcrumb [entries]="categories"></app-breadcrumb>
<div *ngIf="articles" class="ml-container">
    <div *ngFor="let article of articles" class="ml-item-card clearfix">
        <a [routerLink]="['/items', article.id]" routerLinkActive="active">
            <img class="ml-item-thumbnail" [src]="article.picture" alt="Foto">
        </a>
        <div class="row no-gutters">
            <div class="col">
                <span class="ml-item-price">
                    {{ article.price.currency }} {{ article.price.decimals | number }}
                    <i [hidden]="!article.free_shipping" class="ml-shipping-icon"></i>
                </span>
            </div>
            <div class="col-sm-4">
                <span class="ml-item-location">{{ article.location.city }} ({{ article.location.state }})</span>
            </div>
        </div>
        <div class="ml-item-title">
            <a [routerLink]="['/items', article.id]" routerLinkActive="active">
                {{ article.title }}
            </a>
        </div>
    </div>
</div>