<div class="media pt-2 pb-2">
    <a class="align-self-center ml-logo mr-4" href="https://mercadolibre.com.ar" target="_blank"></a>
    <div class="media-body">
        <div class="input-group">
            <input type="text" class="form-control ml-search-input"
                placeholder="Nunca dejes de buscar" aria-label="Nunca dejes de buscar"
                aria-describedby="input-search-bar">
            <div class="input-group-append ml-search-button">
                <span class="input-group-text" id="input-search-bar">
                    <i class="ml-search-icon"></i>
                </span>
            </div>
        </div>
    </div>
</div>